*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --color-primary-mainbg:#181e2a;
    --color-secondary-article:#21293c;
    --color-accent-footer:#0c1524;
    --color-buttons:#4fc7d5;
    --color-white:#fff;
    --font-raleway:"Raleway", san-serif;
    --font-opensans:"Open Sans", san-serif;
    --font-heebo:"Heebo", san-serif;
    
}

/* typography */

html{
    font-size: 62.5%;
}

body{
   background-color: #0c1524;
    font-family: var(--font-opensans);
    font-weight: 400;
    font-size: 1.4rem;
    color:var(--color-white);
    line-height:1.5;
}

h1, h2, h3{
    font-family: var(--font-raleway);
    font-weight: 700;
    line-height: 1.2;
}

h1{
    font-size: 3.2rem;
    margin-bottom:1.7rem;
}

h2{
    font-size: 2.7rem;
    margin-bottom:1.7rem;
}

h3{
    font-size: 2.2rem;
    margin-bottom:1.6rem;
}

/* btn */

.btn{
    padding:2rem 10rem;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    border:none;
}

.btn__button{
    background: var(--color-buttons);
    color:white;   
    transition: background .2s;
}

.btn__button:hover{
    background:#8cdae4;
}

/* form */

.email{
     padding:2rem 0 2rem 5rem;
    width:100%;
    border-radius:30px;
    border:none;
   }

   .email:focus{
    outline:0;
    box-shadow: 0 0 5px lightblue;
   }

   .email::placeholder{
    color:lightgray;
   }

   .form{
    display: flex;
    flex-direction: column;
   }

   .form .btn__button{
    margin-top:2rem;
 
   }

   @media screen and (min-width:768px){

    .form{
        display: flex;
        flex-direction: row;
    }

    .form__input{
        width:60%;
    }

    .form .btn__button{
        margin-top: 0;
        margin-left:3rem;

    }
   }

   /* features */

   .feature{
    text-align: center;
   }

   .feature h2{
    font-size: 2.3rem;
   }

   .feature__image{
    margin-bottom: 2rem;
   }

