*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --color-primary-mainbg:#181e2a;
    --color-secondary-article:#21293c;
    --color-accent-footer:#0c1524;
    --color-buttons:#4fc7d5;
    --color-callout:#1b2330;
    --color-white:#fff;
    --font-raleway:"Raleway", san-serif;
    --font-opensans:"Open Sans", san-serif;
    --font-heebo:"Heebo", san-serif;
    
}

/* typography */

html{
    font-size: 62.5%;
}

body{
   background-color: #0c1524;
    font-family: var(--font-opensans);
    font-weight: 400;
    font-size: 1.4rem;
    color:var(--color-white);
    line-height:1.5;
}

h1, h2, h3{
    font-family: var(--font-raleway);
    font-weight: 700;
    line-height: 1.2;
}

h1{
    font-size: 3.2rem;
    margin-bottom:1.7rem;
}

h2{
    font-size: 2.7rem;
    margin-bottom:1.7rem;
}

h3{
    font-size: 2.4rem;
    margin-bottom:1.6rem;
}

/* btn */

.btn{
    padding:2rem 5rem;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    border:none;
}

.btn__button{
    background: linear-gradient(90deg, rgba(93,199,215,1) 35%, rgba(61,174,208,1) 100%);
    color:white;   
    transition: background .2s;
}

.btn__button:hover{
    background:#8cdae4;
}

@media screen and (min-width:768px){
    .btn{
        padding:2rem 7.5rem;
    }
}

/* form */

.email{
     padding:2rem 0 2rem 5rem;
    width:100%;
    border-radius:30px;
    border:none;
   }

   .email:focus{
    outline:0;
    box-shadow: 0 0 5px lightblue;
   }

   .email::placeholder{
    color:lightgray;
   }

   .form{
    display: flex;
    flex-direction: column;
   }

   .form .btn__button{
    margin-top:3rem;
 
   }

   @media screen and (min-width:768px){

    .form{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .form__input{
        width:60%;
    }

    .form .btn__button{
        margin-top: 0;
        margin-left:3rem;

    }
   }

   /* grid */
   .grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows:minmax(100px, auto);
   }

   .grid > div{
    border:1px solid lightblue;
   }

   .grid > section{
    border:1px solid lightblue;
   }

   .grid > article{
    border:1px solid lightblue;
   }

   @media screen and (min-width:768px){

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
   }

   /* features */

   .feature{
    text-align: center;
   }

   .feature h2{
    font-size: 2.3rem;
   }

   .feature__image{
    margin-bottom: 2rem;
   }

   /* testiomonial */

   .testimonial{
    border:1px solid lightblue;
    padding:3rem 4rem 2rem 4rem;
    position:relative;
    margin:2rem 5rem;
    background: var(--color-secondary-article);
    border-radius: 5px;
    box-shadow: 0 0 10px #1f2636;

   }

   .quote__image{
    width:30px;
    position: absolute;
    bottom:220px;
    left:0px;

   }

   .profile{
    display: flex;
   }

   .avatar{
    height: 40px;
    border-radius:100px;
    align-self: center;
   }

   .profile__name{
    margin-left: 2rem;
    align-self: center;
   }

   .profile__name p:first-of-type{
    margin-bottom: 0;
    font-weight: 700;
   }

   .profile__name p:last-of-type{
    margin-top:0.5rem;
    font-size: 1.1rem;
   }

   /* callout */
   .callout{
    background: var(--color-callout);
    text-align:center;
    padding:3rem 3rem 5rem;
    margin:2rem;
    border-radius: 10px;
    box-shadow: 0 0 7px #0b1320;
   }

   .callout p{
    margin-top:2rem;
   }

  .callout .form{
        margin-top:4rem;
   }

   .callout .btn__button{
    box-shadow:0 0 15px #101a27;
   }

   @media screen and (min-width:768px){
        .callout{
            max-width: 750px;
            margin:auto;
            padding:2rem 6rem 5rem;
        }
   }

   /* link */

  
   .link{
    color:#6ed7da;
    border-bottom: 1.7px solid #6ed7da;
    width:fit-content;
    padding-bottom:3px;

    
   }

   .arrow{
    vertical-align: middle;
   }

   /* nav */

   .nav{
    display: flex;
    justify-content: space-between;
   }

   .nav__logo{
    border:1px solid lightblue;
    height:45px;
    align-self: center;
    margin-left: 1rem;
   }

   .nav__items{
    border:1px solid lightblue;
    display:flex;
    flex-direction: row;
    padding-left: 2rem;
    margin-right: 4px;
    
   }

   .nav__items li{
    list-style: none;
    margin:1rem;
   }

   .nav__items a{
    text-decoration: none;
    color:#fff;
   }

   @media screen and (max-width:350px){
    .nav__logo{
        height:35px;
    }

    .nav__items{
        padding-left:0;
    }
    .nav__items a{
        font-size: 1.2rem;
    }
   }

   @media screen and (min-width:768px){

    .nav__items{
        margin-right:4rem;
    }

    .nav__items li{
        list-style: none;
        margin:1rem 2rem;
       }

       .nav__logo{
        margin-left:4rem;
       }
   }

/* banner */

.hero__banner{
    text-align: center;
    padding:2rem 4rem;
}

.hero__image{
    width: 75%;
}

.hero__content{
    margin-top:3rem;
}

.hero__content .btn__button{
    padding:2rem 10rem;
    margin-top:2rem;
    background: linear-gradient(90deg, rgba(93,199,215,1) 35%, rgba(61,174,208,1) 100%);
}


@media screen and (max-width:360px){

    .hero__content .btn__button{
        padding:2rem 5rem;
    }

}


@media screen and (min-width:768px){

    .hero__banner{
        max-width:700px;
        margin:auto;
    }

    .hero__image{
        width: 600px;
    }

    

}

/* footer */

footer{
    border:2px solid lightblue;
    background:var(--color-accent-footer);
    
        padding-top:200px;
        padding-bottom: 2rem;
  
}

.footer__logo{
    padding-left: 3rem;
}

.contact{
    padding:0 3rem;
}

.location-section{
    display: flex;
    

}

.location-section span{
    margin-left: 2rem;
    align-self: center;
}

.location{
    height:25px;
    margin-top:1rem;
}

.call{
    padding-left:3rem;
}

.phone-section img, .email-section img{
    margin-right:2rem;
}

.footer__items{
    padding-left: 2rem;
}

.footer__items li{
    list-style: none;
    margin:1rem;
}

.footer__items a{
    text-decoration: none;
    color:var(--color-white);
}



.footer__socials{
    justify-self: center;
    align-self: center;
   
}

.footer__socials .footer__items{
    padding-left: 0;
}

.footer__socials li{
    display: inline;
    margin:.7rem;
}

.footer__socials i{
    border: 1px solid white;
    padding:8px;
    border-radius: 100px;
}

.footer__socials .fa-facebook-f{
    padding:8px 11px;
}

@media screen and (min-width:768px){

    footer{
        height:400px;
        padding-top:150px;
        padding-bottom: 8rem;
    }
    .footer__socials{
        justify-self: left;
        align-self: flex-start;
    }

    .footer__about .footer__items{
        margin-top: 0;
    }

    
}