<footer>
  <img src="./images/logo.svg" alt="" class="footer__logo" />

  <div class="grid footer__grid">
    <div class="grid contact">
      <p class="location-section">
        <img
          src="./images/icon-location.svg"
          alt="location"
          class="location"
        /><span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua</span
        >
      </p>
    </div>

    <div class="call">
      <p class="phone-section">
        <img src="./images/icon-phone.svg" alt="phone" class="phone" />
        +1-543-123-4567
      </p>
      <p class="email-section">
        <img src="./images/icon-email.svg" alt="email" class="mail" />
        example@fylo.com
      </p>
    </div>

    <div class="footer__about grid">
      <ul class="footer__items">
        <li><a href="#">About Us</a></li>
        <li><a href="#"> Jobs</a></li>
        <li><a href="#"> Press</a></li>
        <li><a href="#"> Blog</a></li>
      </ul>

      <div class="footer__faq">
        <ul class="footer__items">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#"> Terms</a></li>
          <li><a href="#"> Privacy</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__socials">
      <ul class="footer__items">
        <li>
          <a href="www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="www.twitter.com"> <i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="www.instagram.com"> <i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
